<html>
    <h1>구구단 풀기!!!</h1>
    <!-- 파이썬 문법을 html에서 실행하기 위해 {% %} 를 사용한다. 하지만 이것은 어떤 변수를 보여주기 위한 것이 아니다.
    특정 변수를 실제로 보여주기 위해서는 {{ }} 으로 묶어야 한다. -->
    {% if front_answer == None %}
        <h1> 궁금한 값을 입력하세요! </h1>
            <form action="/calculate">
                <input name='input1' type="text"> 곱하기
                <input name='input2' type="text">
                <input type="submit">
            </form>
    {% else %}
        <h1>정답은!!!</h1>
            {{ front_answer }}
        <form action="/">
            <input type="submit" value='홈으로 돌아가기'>
        </form>
    {% endif %}
</html>